In [10]:
import pandas as pd

df = pd.read_csv('imóveis.csv')
df.sort_values('Data da venda', inplace=True)
# df = df.loc[df['Temperatura'] <= 50]
# df.set_index('Data').plot()
df
# df = pd.read_csv('station_fortaleza.csv')
# df = df.set_index('YEAR').drop(['D-J-F', 'M-A-M', 'J-J-A', 'S-O-N', 'metANN'], axis=1).stack().reset_index(name='Temperatura').rename(columns={})
# month_dict = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06', 'JUL': '07',
#              'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}
# df['Data'] = df.apply(lambda row: str(row['YEAR']) + '/' + month_dict[row['level_1']], axis=1)
# df = df[['Data', 'Temperatura']]
# df['Data'] = pd.to_datetime(df['Data'])
# df.to_csv('temperatura_fortaleza.csv', index=False)

    Data da venda  Média móvel   Tipo  Quartos
248    30/06/2007       368817   unit        2
101    30/06/2007       548969  house        4
50     30/06/2007       421291  house        3
202    30/06/2008       326076   unit        1
3      30/06/2008       441854  house        2
..            ...          ...    ...      ...
244    31/12/2018       339350   unit        1
96     31/12/2018       626608  house        3
147    31/12/2018       820924  house        4
196    31/12/2018      1002323  house        5
294    31/12/2018       426936   unit        2

[347 rows x 4 columns]